<form action='/vocab/<%= @id %>/<%= @word %>/add_word_form' method='post'>
  <div>
    <label for='word_form'>Form of the word:</label>
    <input type="text" name="word_form">
  </div>
  <div>
    <label for='markers'>Markers for this form:</label>
    <input type="text" name="markers">
  </div>
  <button type="submit" name="add_word_form">Add Form</button>
</form>
<p>List the markers separated by a comma and correctly spelled</p>
<h3>List of approved markers</h3>
  <ul>
    <% APPROVED_MARKERS.each do |marker| %>
      <li><%= marker %></li>
    <% end %>
  </ul>