<h2><a href='/vocab/<%= @sample[:id] %>' ><%= @sample[:name] %></a></h2>
<ul>
  <li><%= @sample_word %></li>
  <li><%= @sample_word1 %></li>
  <li>...</li>
</ul>
<h2>Constructions</h2>
<ul>
  <li>No Constructions Yet</li>
  <li>No Constructions Yet</li>
  <li>...</li>
</ul>