<!DOCTYPE html>
<html>
<head>
  <title>Construction Builder</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/construction.css">
</head>
<body>
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about"></a>About</li>
    </ul>
    <% if session[:message] %>
      <h4 class="message"><%= session.delete(:message) %></h4>
    <% end %>
  </header>
  <%= yield %>
  <% unless signed_in?%>
    <h5><a href="/sign_in">Sign in</a></h5>
  <% end %>
</body>
</html>