<form action='/vocab/<%= @id %>/add_word' method='post'>
  <div>
    <label for="word">Word:</label>
    <input type="text" name="word">
  </div>
  <div>
    <label for="word_type">Word Type:</label>
    <input type="text" name="word_type">
  </div>
  <button type='submit' name='add_new_word'>Add New Word</button>
</form>