<h2>Create an Account as a list Owner by filling in the form</h2>
<form action="/new_owner" method="post">
  <div>
    <label for='username'>Username:</label>
    <input type="text" name="username" value="<%= @username || '' %>" />
  </div>
  <div>
    <label for='password'>Password:</label>
    <input type="text" name="password"/>    
  </div>
  <div>
    <label for='list_name'>Name your vocab list:</label>
    <input type="text" name="list_name"/>    
  </div>
  <button type="submit" >Add User</button>
</form>
<h2>Or</h2>
<a href="/new_editor">Be an Editor instead?</a>