<form action="/sign_in" method="post">
  <div>
    <label for='username'>Username:</label>
    <input type="submit" name="username"/>
  </div>
  <div>
    <label for='password'>Password:</label>
    <input type="submit" name="password"/>    
  </div>
  <button>Sign in</button>
</form>