* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: lightgrey;
  color: black;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

header {
  display: inline;
  font-family: sans-serif;
  color: black;
  background-color: white;
  padding: 1em;
  border: thin solid;
  border-color: black;
}

h2,
h4 {
  margin-top: 20px;
}

li.inline {
  display: inline;
}

p.inline {
  display: inline;
}

form.inline {
  display: inline;
}
