body {
  font-family: sans-serif;
  background-color: lightgrey;
  color: black;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

h2 {
  
}

header ul li {
  display: inline;
  font-family: sans-serif;
  color: black;
  background-color: white;
  padding: 1em;
  border: thin solid;
  border-color: black;
}
